
ul::-webkit-scrollbar{
    display: none;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow-x: none;
    overflow-y: auto;
    scrollbar-width: 0;
    scrollbar-track-color: transparent;
    height: 90%;
}



.total{
    padding-left: 50px;
    display: flex;
    align-items: center;
    background-color:#00000055;
    color: aliceblue;
    z-index: 9999;
    height: 100px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    border-radius: 50px ;
    flex-wrap: wrap;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: space-between;
    position: relative;

}
#status{
    /* margin-right: 10px; */
    position: absolute;
    right: 50px;
}

@media screen and (max-width:600px ) and ( min-width:450px) {
  .total .label{
    font-size: 2rem;
    max-width: 50%;
    text-wrap: wrap;
    margin: 10px;

  }
 
 
.description{
    /* grid-row: 1/1; */
    grid-column:2/2 ;
}
.qtyspan{
    /* grid-row: 1/2; */
    grid-column: 2 / 4 ;
    
}

.rowO{
    padding-right: 100px;
}
}

@media screen and (max-width:450px){

  

    .total{
        font-size: 10px;
        height: 40px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .total button{
        width: 100px;
    }
  

}

.sideOption:hover a i, .sideOption:hover a span{
    color:black;
}















/* 236/2=118/2=59 */
/* 330/4=82 */

.order{
 
    background: rgba(255,255,255,0.25);
    padding: 5px;
    border-radius: 50%;
    /* width: 95%; */
    /* height: clamp (38px,100%,100px); */
    width: 100%;
    height:auto;
    aspect-ratio: 4/1;
    /* width: auto; */
  

}


.order:hover{
    background:rgba(255,255,255,0.7); ;
    transform: scale(1.1);
    /* position: absolute; */
}
